@import "../../../app/globals.css";

[data-slot="dialog-content"] {
  width: 90%;
  max-width: 650px;
  @apply border-gray-200 dark:border-neutral-600;
}

[cmdk-root] {
  @apply sprinkle-primary border-none;
}